/MaterialIcons-Regular.eot
/MaterialIcons-Regular.ijmap
/MaterialIcons-Regular.svg
/MaterialIcons-Regular.ttf
/MaterialIcons-Regular.woff
/MaterialIcons-Regular.woff2
/README.md
/codepoints
/material-icons.css
